## Types:
### 1. Built-in func
### 2. User-defined func
### 3. Lambda func

# Built-in functions

In [1]:
print("Hello world!")

Hello world!

In [6]:
print("Python is fun')

SyntaxError: EOL while scanning string literal (<ipython-input-6-b2d86ef109f0>, line 1)

#### double quotes or single quotes only

In [2]:
print("Hello","Sow")

Hello Sow

In [3]:
vowels = ('a','e','i','o','u')
print(vowels)

('a', 'e', 'i', 'o', 'u')

In [4]:
print("hello","Sow", sep=',')

hello,Sow

#### sep is an optional parameter , and each word is separated by comma

In [5]:
print("There is a white space below this line")
print('\n')
print("There is a white space above this line")

There is a white space below this line


There is a white space above this line

In [13]:
print("There is a white space below this line")
print("\t")
print("There is a white space above this line")

There is a white space below this line

There is a white space above this line

### Concatenation

In [7]:
print("Python"+"is fun")

Pythonis fun

In [8]:
print("Python"+" is fun")

Python is fun

In [9]:
print("My reg no. is" + 1926)

TypeError: can only concatenate str (not "int") to str

In [10]:
# explicit conversion takes place here too

### Concatenation with type casting

In [14]:
print("My reg no. is " + str(1926))

My reg no. is 1926

# User defined functions

### A func that a user defines is User defined functions
### Any predefined python keyword cannot be used as a function name

In [1]:
def area_of_triangle(b,h):
    return(0.5*b*h)
b=int(input("Base: "))
h=int(input("Height: "))
print(area_of_triangle(b,h))

Base: 7
Height: 8
28.0

In [5]:
def greet(name): 
    return("Hello "+name) 
name=input("Enter name: ") 
print(greet(name))

Enter name: Sowmika
Hello Sowmika

#### func will throw an error if we do not pass the required parameter as func definition

In [6]:
name = input("Enter name: ")
greet()

Enter name: Sowmika

TypeError: greet() missing 1 required positional argument: 'name'

In [7]:
def addition(num1,num2):
    add = num1 + num2
    return(add)
summation = addition(19,26)
print(summation)

45

#### func retuns no value if we use return keyword without any return value

In [9]:
def addition(num1,num2):
    add = num1 + num2
    return
summation = addition(19,26)
print(summation)

None

# Function arguments

## Required argument

### they are arguments passed to a func in correct positional order

In [10]:
def reg_arg(num1, num2):
    print("First arg: ",num1)
    print("Second arg: ",num2)
num1 = 7
num2 = 26
reg_arg(num2, num1)

First arg:  26
Second arg:  7

## Keyword argument

In [12]:
def emp(name,ID):
    print(name,ID)
emp(name="Sow",ID=1926)

Sow 1926

## Default argument

In [14]:
def emp(name,ID=1926):
    print("Employee name: ",name)
    print("Employee ID: ",ID)
emp("Sow")

Employee name:  Sow
Employee ID:  1926

## Variable length argument

In [16]:
def addition(*num):
    add = 0
    for i in num:
        add = add + i
    print(add)
addition(7,19,26)

52

### Variable length keyworded argument

In [17]:
def emp(**details):
    print(type(details))
    for k,v in details.items():
        print(k,"-->",v)
emp(name="Harry",salary=200000)

<class 'dict'>
name --> Harry
salary --> 200000

# Lambda functions

### They are anonymous and do not have any keyword
### 'lambda' is used to create lambda functions
### No 'def' or 'return' keyword is used in lambda function

# lambda arguments : expression

In [19]:
greater = lambda a,b: a if(a>b) else b
greater(19,26)

26

## map() function

In [20]:
num = list(range(1,10))
square = list(map(lambda x:x**2,num))
square

[1, 4, 9, 16, 25, 36, 49, 64, 81]

## filter()

### unlike map() , filter() can have only one iterable as input

In [21]:
num = list(range(1,10))
square = list(filter(lambda x:x%2==0 ,num))
square

[2, 4, 6, 8]

## reduce()

### reduce() can have iterables of same type as input

In [22]:
from functools import reduce
num = [1,2,3,4,5,6,7]
reduce(lambda a,b: a*b,num)

5040