In [1]:
name = "Sow"
print(name)
type(name)

Sow

str

## Indexing and Slicing

In [2]:
text = "I love Python"
text[0]

'I'

In [3]:
text[:]                 #displays all the elements

'I love Python'

In [4]:
text[len(text)]

IndexError: string index out of range

In [5]:
text[:len(text)]                # displays all elements using len()
                                # len() function gives length of the variable

'I love Python'

In [6]:
text[0:6]

'I love'

In [7]:
text[2:]

'love Python'

In [8]:
text[1:-1]               # displaying text from second letter to the second last letter

' love Pytho'

In [9]:
text[::-1]                # reverses the string using indexing

'nohtyP evol I'

In [10]:
text[::-1][-3]           # reverses the string and displace the third last letter

'l'

## String Handling

In [11]:
text.replace("Python","Data Science")          # replaces python with data science

'I love Data Science'

In [12]:
text.upper()             # converts string in uppercase

'I LOVE PYTHON'

In [13]:
text.lower()            # converts string in lowercase

'i love python'

In [14]:
text.title()           # coverts each letter of first word into uppercase

'I Love Python'

### concatenate each element of date with sep

In [15]:
date = "01","10","2021"
sep = "-"
sep.join(date)

'01-10-2021'

In [16]:
text = "***Python*for*data*science***"           # prints the string by removing leading and trailing "*" character
text.strip("*")

'Python*for*data*science'

In [17]:
text = "***Python for data science***"          # prints the string by removing leading "*" character
text.strip("*")

'Python for data science'

In [19]:
text = "Python for data science***"            # prints the string by removing trailing "*" character
text.strip("*")

'Python for data science'

# List

In [20]:
l = ["DS","ML","AI"]             # creating a list
print(l)
type(l)

['DS', 'ML', 'AI']

list

### concatenate

In [22]:
l = ["DS","ML","AI"]
l1 = ["python","R"]
course = l + l1
print(course)
type(course)

['DS', 'ML', 'AI', 'python', 'R']

list

### append

In [23]:
course.append("python libraries")
print(course)

['DS', 'ML', 'AI', 'python', 'R', 'python libraries']

### sorting elements in list

In [24]:
a = [2,19,7,26,45]
a.sort()
a

[2, 7, 19, 26, 45]

#### sorting cannot happen in mixed datatype

In [26]:
list_with_mixed_datatypes = [45,"sow",19.26,"paris"]
list_with_mixed_datatypes.sort()
list_with_mixed_datatypes

TypeError: '<' not supported between instances of 'str' and 'int'

### sorting using sorted() function

In [27]:
a = [2,19,7,26,45]
a_sorted = sorted(a)
a

[2, 19, 7, 26, 45]

### checking presence of an element in the list

In [28]:
a = [2,19,7,26,45]
print(45 in a)

True

In [29]:
a = [2,19,7,26,45]
print(14 in a)

False

### iterating through a list

In [30]:
l = ["DS","ML","AI"]
for course in l:
    print(l)

['DS', 'ML', 'AI']
['DS', 'ML', 'AI']
['DS', 'ML', 'AI']

### length

In [31]:
a = [2,19,7,26,45]
len(a)

5

### maximum value

In [32]:
a = [2,19,7,26,45]
max(a)

45

### minimum value

In [33]:
a = [2,19,7,26,45]
min(a)

2

### removing all elements of list

In [34]:
l = ["DS","ML","AI"]
print(l)
l.clear()
l

['DS', 'ML', 'AI']

[]

### making a shallow copy of an existing list

In [35]:
products = ["tea", "coffee", "icecream"]
new_product = products.copy()
print(products)
print(new_product)

['tea', 'coffee', 'icecream']
['tea', 'coffee', 'icecream']

### count

In [36]:
products = ["tea", "coffee", "icecream","tea"]
products.count("tea")

2

### extending an element

In [37]:
l = ["DS","ML","AI"]
l1 = ["python","R"]
l.extend(l1)
l

['DS', 'ML', 'AI', 'python', 'R']

### index position

In [38]:
l = ["DS","ML","AI"]
l.index("ML")

1

### inserting

In [39]:
l = ["DS","ML","AI"]
l.insert(3,"python")
l

['DS', 'ML', 'AI', 'python']

### removing an element using pop()

In [40]:
l = ["DS","ML","AI"]
l.pop(2)
l

['DS', 'ML']

### removing an element using remove()

In [41]:
l = ["DS","ML","AI","ML"]
l.remove("ML")
l

['DS', 'AI', 'ML']

### reversing a list

In [42]:
l = ["DS","ML","AI"]
l.reverse()
l

['AI', 'ML', 'DS']

# Tuple

In [43]:
t = ("DS","ML","AI")
print(t)
type(t)

('DS', 'ML', 'AI')

tuple

### sorting

#### tuple uses only sorted() function

In [45]:
x = [2,19,7,26,45]        
sorted(x)

[2, 7, 19, 26, 45]

In [46]:
fruits = ("apple", "mango","kiwi")
vegetables = ("carrot", "cabbage","raddish")
food = fruits + vegetables
print(food)

('apple', 'mango', 'kiwi', 'carrot', 'cabbage', 'raddish')

### repeating tuple elements

In [47]:
fruits = ("apple", "mango","kiwi")
n = 3
repeat = fruits * n
print(repeat)

('apple', 'mango', 'kiwi', 'apple', 'mango', 'kiwi', 'apple', 'mango', 'kiwi')

### For

In [49]:
fruits = ("apple", "mango","kiwi")
for food in fruits:
    print(food)

apple
mango
kiwi

### length

In [48]:
a = (2,19,7,26,45)
len(a)

5

### max

In [50]:
a = (2,19,7,26,45)
max(a)

45

### min

In [51]:
a = (2,19,7,26,45)
min(a)

2

### deletion operation

#### tuple does not support del()

In [53]:
abc = (2,19,7,26,45)
del abc[2]
abc

TypeError: 'tuple' object doesn't support item deletion

### append

In [54]:
price = (2,19,7,26,45,[5,6,7])
price[5].append(60)
price

(2, 19, 7, 26, 45, [5, 6, 7, 60])

# Set

### it doesnot have any duplicates
### it can consist of different datatypes (heterogenous)
### it is mutable but we cannot retrieve using index

# Dictionary

In [55]:
books = {"abc":20,
         "xyz":30,
         "mno":40}
print(books)
type(books)

{'abc': 20, 'xyz': 30, 'mno': 40}

dict

### append

In [56]:
books = {"abc":20,
         "xyz":30,
         "mno":40}
books["xxx"]=50
print(books)

{'abc': 20, 'xyz': 30, 'mno': 40, 'xxx': 50}

### delete

In [57]:
books = {"abc":20,
         "xyz":30,
         "mno":40}
del books["abc"]
print(books)

{'xyz': 30, 'mno': 40}

### count

In [58]:
twister = "betty bought some butter the butter was bitter to make the bitter butter better butter betty added some more better butter to make the bitter butter better butter"
word_count = {}
for word in twister.split():
    if word not in word_count:
        word_count[word] = 1
    else:
        word_count[word] = +1
print(word_count)

{'betty': 1, 'bought': 1, 'some': 1, 'butter': 1, 'the': 1, 'was': 1, 'bitter': 1, 'to': 1, 'make': 1, 'better': 1, 'added': 1, 'more': 1}

### default dictionary

In [59]:
from collections import defaultdict

In [60]:
twister = "can you can a can as a canner can can a can"
word_count = defaultdict(int)
for word in twister.split():
    word_count[word] += 1
print(word_count)

defaultdict(<class 'int'>, {'can': 6, 'you': 1, 'a': 3, 'as': 1, 'canner': 1})

### looping through the dictionary

In [61]:
twister = "can you can a can as a canner can can a can"
word_count = defaultdict(int)
for word in twister.split():
    word_count[word] += 1
for key,value in word_count.items():
    print(key,value)

can 6
you 1
a 3
as 1
canner 1

### length

In [62]:
books = {"abc":20,
         "xyz":30,
         "mno":40}
len(books)

3

### converting dictionary into printable string representation

In [63]:
str(books)

"{'abc': 20, 'xyz': 30, 'mno': 40}"

### clear() deletes all items in the dictionary

In [64]:
books = {"abc":20,
         "xyz":30,
         "mno":40}
books.clear()
books

{}

### prints keys

In [65]:
books.keys()

dict_keys([])

### prints values

In [66]:
books.values()

dict_values([])

In [67]:
books = {"abc":20,
         "xyz":30,
         "mno":40}
books

{'abc': 20, 'xyz': 30, 'mno': 40}

In [68]:
books.values()

dict_values([20, 30, 40])

In [69]:
books.keys()

dict_keys(['abc', 'xyz', 'mno'])

### prints the items in dict

In [70]:
books = {"abc":20,
         "xyz":30,
         "mno":40}
books.items()

dict_items([('abc', 20), ('xyz', 30), ('mno', 40)])

In [71]:
items_purchased = {'juice':10,'juice':15, 'pizza':5, 'burger':7, 'icecream':9}
print(items_purchased)

{'juice': 15, 'pizza': 5, 'burger': 7, 'icecream': 9}

### zip() to create a dictionary from a list

In [72]:
item_names = {'juice', 'pizza', 'burger', 'icecream'}
item_price = {50,150,100,140}

In [73]:
dictionary = dict(zip(item_names,item_price))
print(dictionary)

{'juice': 140, 'pizza': 50, 'burger': 100, 'icecream': 150}

# List Comprehension

### creating a list using for

In [74]:
num = []
for i in range(1,11):
    num.append(i*i)
print(num)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### creating a list using list comprehension

In [75]:
num = [i*i for i in range(1,11)]
print(num)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### example :

In [76]:
sentence = ("an apple a day keeps the doctor away")
vowels = [vowel for vowel in sentence if vowel in 'aeiouAEIOU']
vowels

['a', 'a', 'e', 'a', 'a', 'e', 'e', 'e', 'o', 'o', 'a', 'a']