#### ' = ' is used to assign value to variable

In [1]:
name = "Sow"
age = 19
ID = 1926

print(name)
print(age)
print(ID)

Sow
19
1926

#### Reassigning variables

In [2]:
name = 'Sow'
name = 'Sharo'

print(name)

Sharo

In [3]:
friend_name = name
print(friend_name)

Sharo

#### Multiple variable assignment

##### with same values

In [4]:
sam_age = harry_age = roger_age = 25
print("Sam's age: ",sam_age)
print("Harry's age: ",harry_age)
print("Roger's age: ",roger_age)

Sam's age:  25
Harry's age:  25
Roger's age:  25

##### with different values

In [5]:
sam_age , harry_age , roger_age = 25 ,20, 23
print("Sam's age: ",sam_age)
print("Harry's age: ",harry_age)
print("Roger's age: ",roger_age)

Sam's age:  25
Harry's age:  20
Roger's age:  23